/*---------------------------------------*\ 
    AUTHOR: A.M.M. Elsayed   
    * ALL RIGHTS RESERVED *
\*---------------------------------------*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Items are placed left to right. */
    background-color: white;
}

body main {
    margin: 10px;   /* Space outside the border */
    padding: 10px;  /* Space inside the border, between content and border */
    flex: 1; /* Fills available space */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;   
    align-items: center; 
}

#page-title {
    max-width: 1000px;
    font-size: 25px;
    margin: 20px 0px;
    padding: 20px 0px;
}

section {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section p{
    font-size: 18px;
}

/* %-%-%-%-%-%-%-%-%-%-%-%-%-%-%-%-% */
/*   Special Styling for Home Page   */
/* %-%-%-%-%-%-%-%-%-%-%-%-%-%-%-%-% */

#greetings {
    max-width: 1000px;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    color: black;
    letter-spacing: 0;
    font-weight: 100;
    text-shadow: none;
    /* Define transitions for all changing properties */
    transition: letter-spacing 0.5s ease, font-size 1s ease, text-shadow 1s ease;
}


@media screen and (min-width: 550px) {

    #greetings:hover {
        letter-spacing: 0.1em; /* Expand letter spacing */
        font-size: 60px;
        text-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
}

@media screen and (max-width: 550px) {

    #greetings {
        font-size: 40px;
    }

}

