/*---------------------------------------*\ 
    AUTHOR: A.M.M. Elsayed   
    * ALL RIGHTS RESERVED *
\*---------------------------------------*/

header {
    background-color: navy; 
    color: white;
    padding: 10px 0px; /* Add some space in (top& bottom) and (left&right) */
    width: 100%; /* To take all width of the page */

    display: flex;
    justify-content: space-between; /* centers horizontally */
    align-items: center;    /* centers vertically */

    gap: 20px;  /* Gap some distance between the logo, links and the toggle menu
                    note that same gap must be used for bullets */

    border-radius: 40px;        /* Rounded corners */

    box-shadow: 0 0 50px rgba(0,0,0,0.3); /* border shadows */
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.header-links {
  display: flex;
  align-items: center;    /* centers vertically */
  gap: 50px; 
}

/* to edit the logo */
.header-links img {
    width: 100px;
    height: auto; /* Maintains aspect ratio */
    margin-left:40px;

    filter: brightness(0) saturate(100%) invert(1); /* to make logo white*/
}

.header-links nav ul {
    list-style: none;       /* Remove bullets */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;              /* Add spacing between items */
  }

/* make the Navigation links with white text color */
.header-links nav ul li a {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 18px;
  }

.header-links nav ul li a:hover {
    border-top: 5px solid white;
    padding-top: 18px;
  }

@media screen and (max-width: 1150px) {
    .header-links nav {
      display: none;
    }
  }

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.header-menu nav ul{
  display:none;
  list-style: none;   /* Remove bullets */
  margin:0;
  padding: 0;
  position: absolute;
  background-color: navy;
  width: 150px;
}

/* Each list item with a border below */
.header-menu nav ul li {
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-menu nav ul li:hover{
  background-color: rgb(62, 62, 255);
  border-top: 0.5px solid rgb(239, 239, 239);
  border-bottom: 0.5px solid rgb(239, 239, 239);
}

.header-menu nav ul li a{
  display: block;
  color: white;
  font-size: 15px;
  text-align: center;
  text-decoration: none; /* Remove underline if needed */
}

.header-menu button {
  width: 150px;
  margin-right:40px; 
  background-color: navy;    /* Dark background */
  color: white;              /* White icon */
  font-size: 18px;           /* Increase icon size */
  padding: 10px 50px;        /* Space around the icon */
  border: none;              /* Remove default border */
  border-radius: 20px;        /* Rounded corners */
  cursor: pointer;           /* Pointer cursor on hover */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-menu button .line {
  width: 60px;
  height: 2px;
  background-color: white;
  margin: 3px;
  transition: width 0.5s ease, margin 0.8s ease, height 1s ease;
}

.header-menu button:hover .line,
.header-menu button.active .line  {
  width: 150px;
  margin: 0;
  height: 1px;
}

@media screen and (min-width: 1150px) {
  .header-menu button {
    display: none;
  }
}
