/*---------------------------------------*\ 
    AUTHOR: A.M.M. Elsayed   
    * ALL RIGHTS RESERVED *
\*---------------------------------------*/

/*  this is for all the elements in the html file 
    Here we chose to set zero distance between the
    browser borders and the elements borders
*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.navigations nav ul li #publications {
    font-weight: bold;
}

.page-top{
    width: 100%;
    height: 120px;
    max-width: 1000px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;   
}

#publications-list {
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;  
}

#publications-list .publication {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    margin: 20px 0px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#publications-list .publication .content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#publications-list .publication img {
    margin: 20px;
    width: auto;     
    max-width: 350px;      
}


#publications-list .publication .content #abstract{
    font-size: 15px;
    text-align: justify;
}


/* Styles for screens below 1000px */
@media screen and (max-width: 1000px) {
    #publications-list .publication {
        flex-direction: column;
    }
}