/*---------------------------------------*\ 
    AUTHOR: A.M.M. Elsayed   
    * ALL RIGHTS RESERVED *
\*---------------------------------------*/

/*  this is for all the elements in the html file 
    Here we chose to set zero distance between the
    browser borders and the elements borders
*/

html, body {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;

    height: 100%;
    display: flex;
    flex-direction: column;

    background-color: rgb(247, 251, 255);
}

body main {
    margin: 10px;   /* Space outside the border */
    padding: 10px;  /* Space inside the border, between content and border */

    flex: 1; /* Fills available space */
}

.header-links nav ul li #publications {
    border-top: 5px solid white;
    padding-top: 18px;
    font-weight: bold;
}

.header-menu nav ul li #publications {
    font-weight: bold;
}

section {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#page-title {
    max-width: 1000px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow:none
}

section p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

#abstract{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.publication-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.publication-content {
    order: 0;
    width: 69%;  /* Adjust this value as needed */
}

.publication-image {
    width: 29%;      /* Fixed width */
    height: auto;     /* Fixed height */
    min-height: 200px;
    object-fit: cover; /* Ensures the image fills the box while preserving aspect ratio */
    object-position: left top;
}

/* Styles for screens below 1000px */
@media screen and (max-width: 1000px) {
    .publication-container {
        flex-direction: column;
        align-items: flex-start;  /* Aligns content to the left */
    }
    .publication-content {
        order: 0;
        width: 100%;
    }
    .publication-image {
        order: 1;
        width: 100%;         /* Scale to the container's width */
        height: auto; /* Adjust height automatically */
        max-height: 200px;       
        object-fit: contain; /* Ensures the entire image is visible */
    }
}